server:
  port: 8082
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:h2:file:./ai
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: true
  h2:
    console:
      enabled: true
      path: /h2-console