server:
  port: 8082
spring:
  application:
    name: system
  datasource:
    url: jdbc:mysql://localhost:3306/demo
    username: demo
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
logging:
  level:
    org.mybatis.spring.mapper: debug
    root: info
    com.example.demo: debug

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.example.demo.system.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.demo.system.model.entity
  configuration:
    map-underscore-to-camel-case: true
