server:
  port: 8082
spring:
  application:
    name: system
  datasource:
    url: jdbc:mysql://localhost:3306/demo
    username: demo
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jooq:
    sql-dialect: mysql
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
logging:
  level:
    com.zaxxer: WARN
    org.jooq.tools.LoggerListener: DEBUG
    org.jooq: WARN

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.example.demo.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
